{% extends 'layout.html' %}

{% block content %}
<div class="container my-5">

  <h1 class="mb-4 text-center fw-bold">Auction Lots</h1>

  <div class="card shadow-sm border-0">
    <div class="card-body p-0">

      <table class="table table-hover align-middle mb-0">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start price</th>
            <th>Current price</th>
            <th>End price</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          {% for lot in lots %}
          <tr>
            <th scope="row">{{ lot.id }}</th>

            <td class="fw-semibold">
              <a href="/lots/{{ lot.id }}" style="text-decoration: none;">{{ lot.title }}</a>
            </td>

            <td class="text-muted">
              {{ lot.description|truncatechars:50 }}
            </td>

            <td>
              <span class="badge bg-secondary">
                ${{ lot.start_price }}
              </span>
            </td>

            <td>
              <span class="badge bg-success">
                ${{ lot.current_price }}
              </span>
            </td>

            <td>
              <span class="badge bg-danger text-dark">
                ${{ lot.end_price }}
              </span>
            </td>

            <td>
                  <a href="/lots/delete/{{ lot.id }}" class="btn btn-sm btn-outline-danger " style="text-decoration: none;">Delete</a>
            </td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="7" class="text-center text-muted py-4">
              No lots available
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>
  </div>

</div>
{% endblock %}